@import url("https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap");
@import "~bootstrap-icons/font/bootstrap-icons.css";

* {
    box-sizing: border-box;
}
body {
    font-size: 14px;
  }

/* Navbar general styles */
.navbar_container {
    width: 100%;
    height: 41px;
    /*background: url("../images/v37_62.png");*/
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.navbar_background {
    width: 100%;
    height: 41px;
    background: rgba(0,0,0,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.navbar_icon {
    width: 24px;
    height: 24px;
    opacity: 1;
    position: absolute;
    background-color: Transparent;
    top: 9px;
    border-radius: 50%;
}

/* Specific Styles */

/* General navbar Text */
.navbar_text {
    width: 58px;
    color: rgba(159,159,159,1);
    position: absolute;
    font-family: Roboto Mono;
    font-weight: Regular;
    font-size: 12px;
    opacity: 1;

}

/* Specific elements */
.username {
    top: 13px;
    left: 1830px;
    text-align: left;
}
.language {
    text-align: left;
    top: 13px;
    left: 1772px;
}
.theme_icon {
    color: rgba(156,0,0,1);
    left: 1740px;
    border-width: 0px;
}
.theme_icon:active {
    box-shadow: 0 1px rgb(156, 0, 0,1);
    transform: translateY(1px);
}
.language_icon {
    position: absolute;
    color: rgba(156,0,0,1);
    left: 1800px;
    border-width: 0px;
}
.activate_sidebar_icon {
    color: rgba(156,0,0,1);
    left: 10px;
    border-width: 0px;
}
.activate_sidebar_icon:active {
    box-shadow: 0 1px rgb(156, 0, 0,1);
    transform: translateY(1px);
}
.bi {
    position: absolute;
    top: 0px;
    left: 3px;
}
.avatar {
    position: absolute;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(156,0,0,1);
    left: 1890px;
}
.avatar_button:active .avatar{
    box-shadow: 0 1px rgb(156, 0, 0,1);
    transform: translateY(1px);
}