
<div class="navbar_container">
    <div class="navbar_background"></div>
    <button type="button" class="activate_sidebar_icon navbar_icon">
        <i class="bi bi-grid-3x3-gap-fill"></i>
    </button>
    <button type="button" class="theme_icon navbar_icon">
        <i class="bi bi-moon"></i>
    </button>
    <span class="navbar_text username">Username</span>
    <button type="button" class="language_icon navbar_icon" >
        <i class="bi bi-globe"></i>
    </button>
    <span class="navbar_text language">Eng</span>
    <button type="button" class="avatar_button">
        <img src="../../../assets/images/avatar_sample.png" alt="Avatar" class="avatar navbar_icon"> 
    </button>
</div> 