@import url("https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap");
@import "~bootstrap-icons/font/bootstrap-icons.css";

* {
    box-sizing: border-box;
}
body {
    font-size: 14px;
  }

/* Navbar general styles */
.navbar_container {
    width: 100%;
    height: 41px;
    /*background: url("../images/v37_62.png");*/
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.navbar_background {
    width: 100%;
    height: 100%;
    background: #221c28;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.navbar_icon {
    width: 24px;
    height: 24px;
    opacity: 1;
    position: absolute;
    background-color: Transparent;
    top: 25%;
    border-radius: 50%;
    color: #117f60;
    border-width: 0px;
}

/* Specific Styles */

/* General navbar Text */
.navbar_text {
    width: 58px;
    color: rgba(159,159,159,1);
    position: absolute;
    font-family: Roboto Mono;
    font-weight: Regular;
    font-size: 12px;
    opacity: 1;
    text-align: left;
    top: 35%;
}

/* Specific elements */
.username {
    left: 78.3%;
}
.language {
    left: 67.7%;
}
.theme_icon {
    left: 62.2%;
}
.theme_icon:active {
    box-shadow: 0 1px #117f60;
    transform: translateY(1px);
}
.language_icon {
    left: 72.8%;
}
.activate_sidebar_icon {
    left: 1%;
}
.activate_sidebar_icon:active {
    box-shadow: 0 1px #117f60;
    transform: translateY(1px);
}
.bi {
    position: absolute;
    top: 0px;
    left: 3px;
}
.avatar {
    position: absolute;
    border-style: solid;
    border-width: 1px;
    border-color: #117f60;
    left: 90.3%;
}
.avatar_button:active .avatar{
    box-shadow: 0 1px #117f60;
    transform: translateY(1px);
}

/* Only for desktop tablets */
@media only screen and (min-width: 580px) {
    .username {
        left: 83.3%;
    }
    .language {
        left: 75.2%;
    }
    .theme_icon {
        left: 70.6%;
    }
    .language_icon {
        left: 79%;
    }
    .activate_sidebar_icon {
        left: 1%;
    }
    .avatar {
        left: 93.3%;
    }
}


/* Only for desktop browsers */
@media only screen and (min-width: 1080px) {
    .username {
        left: 92.3%;
    }
    .language {
        left: 88.2%;
    }
    .theme_icon {
        left: 85.6%;
    }
    .language_icon {
        left: 90.1%;
    }
    .activate_sidebar_icon {
        left: 1%;
    }
    .avatar {
        left: 97.3%;
    }
}

/* Only for desktop browsers */
@media only screen and (min-width: 1420px) {
    .username {
        left: 93.6%;
    }
    .language {
        left: 90%;
    }
    .theme_icon {
        left: 88%;
    }
    .language_icon {
        left: 91.5%;
    }
    .activate_sidebar_icon {
        left: 1%;
    }
    .avatar {
        left: 97.3%;
    }
}