<div class="view_container">
    <app-navbar></app-navbar>
    <div class="camera_background"></div>
    <div class="right_submenu">
        <div class="right_submenu_background"></div>
        <button class="live_button rsubmenu_button">
            <div class="button_background"></div>
            <span class="button_Text">Live</span>
            <div class="button_icon"></div>
        </button>
        <button class="snap_button rsubmenu_button">
            <div class="button_background"></div>
            <span class="button_Text">Snap</span>
            <div class="button_icon"></div>
        </button>
        <button class="options_button rsubmenu_button">
            <div class="button_background"></div>
            <span class="button_Text">Options</span>
            <div class="button_icon"></div>
        </button>
    </div>
</div>