<div class="view_container">
    <app-navbar></app-navbar>
    <div ngModule #media class="camera_background">
        <app-facedetectionlive #facedetectionlivecomponent [faceDetectionProcessState]="rightMenusLiveState" [hidden]="rightMenusState==2"></app-facedetectionlive>
    </div>
    <div class="right_submenu">
        <div class="right_submenu_background"></div>
        <button ngModule #liveButton [disabled]="rightMenusState==1" (click)="rightMenusState=1" class="live_button rsubmenu_button">
            <div class="button_background"></div>
            <span class="button_Text">Live</span>
        </button>
        <button type="button" [hidden]="rightMenusState==2" [disabled]="rightMenusLiveState==1" (click)="rightMenusLiveState=1;startFaceDetLive();" class="button_start_live sub_button_live minimenu_button">
            <i class="bi bi-skip-start-circle-fill"></i>
        </button>
        <button type="button" [hidden]="rightMenusState==2" [disabled]="rightMenusLiveState==0" (click)="rightMenusLiveState=0;stopFaceDetLive();" class="button_stop_live sub_button_live minimenu_button">
            <i class="bi bi-stop-circle-fill"></i>
        </button>
        <button type="button" class="button_settings sub_button_live minimenu_button">
            <i class="bi bi-gear-fill"></i>
        </button>
        <button ngModule #snapButton [disabled]="rightMenusState==2" (click)="rightMenusState=2" class="snap_button rsubmenu_button">
            <div class="button_background"></div>
            <span class="button_Text">Snap</span>
        </button>
        <button [hidden]="rightMenusState==1" type="button" class="button_snap minimenu_button">
            <i class="bi bi-image"></i>
        </button>
    </div>
</div>