<div class="v58_51">
    <div class="v82_30"></div>
    <div class="v90_29">
        <div class="v89_39"></div>
        <div class="v89_40">
            <div class="v89_41"></div>
            <span class="v89_42">Options</span>
            <div class="v89_43"></div>
        </div>
        <div class="v56_31">
            <div class="v56_32"></div>
            <span class="v56_33">Live</span>
            <div class="v56_34"></div>
        </div>
        <div class="v89_35">
            <div class="v89_36"></div>
            <span class="v89_37">Snap</span>
            <div class="v89_38"></div>
        </div>
    </div>
</div>