@import url("https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap");

.main_menu_container {
    width: 100%;
    height: 100%;
    /*background: url("../images/v40_167.png");*/
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 20%;
    overflow: hidden;
}


/* General Styles */
.info_card {
    width: 444px;
    height: 202px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    overflow: hidden;
    border-radius: 13px;
    border: 1px solid rgba(156,0,0,1);
    box-shadow: 0 4px rgb(156, 0, 0);
}
.card_background {
    width: 444px;
    height: 202px;
    background: rgba(12,12,12,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}
.info_card:hover .card_background {
    background: rgb(0, 0, 0);
    border-color: rgba(156,0,0,1);
}
.info_card:active {
    box-shadow: 0 5px rgb(156, 0, 0,1);
    transform: translateY(3px);
}
.info_card:hover .card_title {
    color: rgb(210,210,210,1)
}
.card_title {
    color: rgba(159,159,159,1);
    position: absolute;
    font-family: Roboto Mono;
    font-weight: Regular;
    font-size: 18px;
    opacity: 1;
    text-align: left;
    top: 34%;
}
.card_icon {
    width: 50px;
    height: 50px;
    opacity: 1;
    position: absolute;
    top: 16px;
    left: 197px;
    overflow: hidden;
}

/* Specific Styles */

/* Detection Card */
.detection_card_container {
    top: 0px;
    left: 0px;
}
.detection_title {
    width: 156px;
    left: 144px;
}
.detection_icon {
    background: url("../../../assets/images/main_menu_images/face_detection_icon.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

/* Recognition Card */
.recognition_card_container {
    top: 0px;
    left: 25%;
}
.recognition_title {
    width: 177px;
    left: 136px;
}
.recognition_icon {
    background: url("../../../assets/images/main_menu_images/face_recognition_icon.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

/* Vigilance Card */
.vigilance_card_container {
    top: 25%;
    left: 0px;
}
.vigilance_title {
    width: 230px;
    left: 107px;
}
.vigilance_icon {
    background: url("../../../assets/images/main_menu_images/continuous_vigilance_icon.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

/* Access Control Card */
.access_card_container {
    top: 25%;
    left: 25%;
}
.access_title {
    width: 158px;
    left: 145px;
}
.access_icon {
    background: url("../../../assets/images/main_menu_images/access_control_icon.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

/* Groups Card */
.groups_card_container {
    top: 25%;
    left: 50%;
}
.groups_title {
    width: 71px;
    left: 186px;
}
.groups_icon {
    background: url("../../../assets/images/main_menu_images/groups_icon.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

/* Profiles Card */
.profiles_card_container {
    top: 0px;
    left: 50%;
}
.profiles_title {
    width: 92px;
    left: 176px;
}
.profiles_icon {
    background: url("../../../assets/images/main_menu_images/profiles_icon.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

/* Mobile Devices */

.main_menu_container { left: 0%; top: 5%; }
.detection_card_container { left: 0%; top: 0%; }
.recognition_card_container { left: 0%; top: 25%; }
.vigilance_card_container { left: 0%; top: 50%; }
.access_card_container { left: 0%; top: 75%; }
.profiles_card_container { left: 0%; top: 100%; }
.groups_card_container { left: 0%; top: 125%; }

@media only screen and (min-width: 580px) { 
    .main_menu_container { left: 5%; top: 5%; }
    .detection_card_container { left: 5%; top: 0%; }
    .recognition_card_container { left: 5%; top: 25%; }
    .vigilance_card_container { left: 5%; top: 50%; }
    .access_card_container { left: 5%; top: 75%; }
    .profiles_card_container { left: 5%; top: 100%; }
    .groups_card_container { left: 5%; top: 125%; }
}

@media only screen and (min-width: 700px) { 
    .main_menu_container { left: 10%; top: 5%; }
    .detection_card_container { left: 10%; top: 0%; }
    .recognition_card_container { left: 10%; top: 25%; }
    .vigilance_card_container { left: 10%; top: 50%; }
    .access_card_container { left: 10%; top: 75%; }
    .profiles_card_container { left: 10%; top: 100%; }
    .groups_card_container { left: 10%; top: 125%; }
}

@media only screen and (min-width: 900px) { 
    .main_menu_container { left: 2%; top: 15%; }
    .detection_card_container { left: 0%; top: 0%; }
    .recognition_card_container { left: 50%; top: 0%; }
    .vigilance_card_container { left: 0%; top: 25%; }
    .access_card_container { left: 50%; top: 25%; }
    .profiles_card_container { left: 0%; top: 50%; }
    .groups_card_container { left: 50%; top: 50%; }
}

@media only screen and (min-width: 1080px) { 
    .main_menu_container { left: 5%; top: 15%; }
    .detection_card_container { left: 0%; top: 0%; }
    .recognition_card_container { left: 50%; top: 0%; }
    .vigilance_card_container { left: 0%; top: 25%; }
    .access_card_container { left: 50%; top: 25%; }
    .profiles_card_container { left: 0%; top: 50%; }
    .groups_card_container { left: 50%; top: 50%; }
} 

@media only screen and (min-width: 1420px) { 
    .main_menu_container { left: 2%; }
    .detection_card_container { left: 0%; top: 0%; }
    .recognition_card_container { left: 32%; top: 0%; }
    .vigilance_card_container { left: 0%; top: 25%; }
    .access_card_container { left: 32%; top: 25%; }
    .profiles_card_container { left: 64%; top: 0%; }
    .groups_card_container { left: 64%; top: 25%; }
}

@media only screen and (min-width: 1600px) { 
    .main_menu_container { left: 10%; }
    .detection_card_container { left: 0%; top: 0%; }
    .recognition_card_container { left: 28%; top: 0%; }
    .vigilance_card_container { left: 0%; top: 25%; }
    .access_card_container { left: 28%; top: 25%; }
    .profiles_card_container { left: 56%; top: 0%; }
    .groups_card_container { left: 56%; top: 25%; }
} 

@media only screen and (min-width: 1750px) { 
    .main_menu_container { left: 15%; }
    .detection_card_container { left: 0%; top: 0%; }
    .recognition_card_container { left: 25%; top: 0%; }
    .vigilance_card_container { left: 0%; top: 25%; }
    .access_card_container { left: 25%; top: 25%; }
    .profiles_card_container { left: 50%; top: 0%; }
    .groups_card_container { left: 50%; top: 25%; }
} 
