<div class="main_menu_container">
    <div class="groups_card_container info_card">
        <div class="card_background"></div>
        <span class="groups_title card_title">Groups</span>
        <div class="groups_icon card_icon"></div>
    </div>
    <div class="profiles_card_container info_card">
        <div class="card_background"></div>
        <span class="profiles_title card_title">Profiles</span>
        <div class="profiles_icon card_icon"></div>
    </div>
    <div class="access_card_container info_card">
        <div class="card_background"></div>
        <span class="access_title card_title">Access Control</span>
        <div class="access_icon card_icon"></div>
    </div>
    <div class="vigilance_card_container info_card">
        <div class="card_background"></div>
        <span class="vigilance_title card_title">Continuous Vigilance</span>
        <div class="vigilance_icon card_icon"></div>
    </div>
    <div class="recognition_card_container info_card">
        <div class="card_background"></div>
        <span class="recognition_title card_title">Face Recognition</span>
        <div class="recognition_icon card_icon"></div>
    </div>
    <div class="detection_card_container info_card">
        <div class="card_background"></div>
        <span class="detection_title card_title">Face Detection</span>
        <div class="detection_icon card_icon"></div>
    </div>
</div>